#main-container {
    place-items: center center;
    background-color: rgb(191, 217, 217);
  }
  
  #sign-in-form {
    max-width: 330px;
  }
  
  .bootstrap-logo {
    width: 72px;
    height: 72px;
  }
  
  .form-control:focus {
    z-index: 5;
  }